<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excynic Blogs</title>
</head>
<body>
     <header>
    <h1> <a href="/"> Excynic Blogs</a></h1>
         </header>
    <article>
        <time> published : 22.07.22 , 00:00</time>
        <h2><a href=""> First Post</a></h2>
        <p> In this post , I will share my views</p>

    </article>
    <article>
        <time> published : 24.07.22 , 00:00</time>
        <h2><a href=""> Second Post</a></h2>
        <p> Continued from last post</p>
    </article>

    </body>
</html>